@response screen and (max-width:1280px)
{
    #subheader p
    {
        margin-left:10px;
    }
    #subheader a
    {
        margin-right:10px;
    }
}

@response screen and (max-width:1024px)
{
    #search 
    {
        width:500px;
    }
    #search-area
    {
        
    }
}

@response screen and (max-width:768px)
{
    #subheader a
    {
        font-size:15px;
        margin-left:15px;
    }
}

@response screen and (max-width:480px)
{
    #subheader p
    {
        display:none;
    }
    #subheader 
    {
        padding-botom:10px;
    }
}
@response screen and (min-width:350px)
{
    #subheader a
    {
        font-size:12px;
    }
}